<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto Codethon</title>
</head>
<body>
  <nav>
    <ul>
      <div class="marca">
        <li><img src="../../../assets/images/logo.svg" alt="" /></li>
        <li><a href="/"><h3>VoltPath</h3></a></li>
      </div>
      <div class="buttons">
        <li>
          <a class="log" href="/">Volver</a>
        </li>
      </div>
    </ul>
  </nav>
  <div class="background-container">
    <div class="grid-container">
      <div class="grid-item">
        <img src="../../assets/images/image 7.png" alt="Imagen 1">
        <div class="info1">
          <h3>VoltPath Pass</h3>
          <p>Un pase multi-redes que le ofrece la mejor experiencia de recarga posible, en la mayoría de las estaciones dentro de Europa.</p>
          <button>Active su pase</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="grid-item">
        <img src="../../assets/images/step2-planner-es.jpg" alt="Imagen 2">
        <div class="info2">
          <h3>Planificador de ruta inteligente</h3>
          <p>Empiece su viaje con la mente tranquila, VoltPath se ocupa del resto, no se tendrá que preocupar </p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="grid-item">
        <img src="../../assets/images/image 7.png" alt="Imagen 3">
        <div class="info3">
          <h3>Mapa de estaciones de recarga</h3>
          <p>El camino más corto hacia el punto de recarga que necesita.</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="grid-item">
        <img src="../../assets/images/image 7.png" alt="Imagen 1">
        <div class="info4">
          <h3>Un equipo, una misión</h3>
          <p>¿Quiénes son los hombres y mujeres que desarrollan y hacen evolucionar a su compañero de viaje favorito?</p>
          <button>Saber mas sobre VoltPath</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- Agrega más elementos grid-item según sea necesario -->
    </div>
  </div>
</body>
</html>


