nav {
  border: 0;
  background-color: var(--white);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.marca {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--primary-green);
}
nav ul .marca a h3 {
  color: var(--primary-green) !important;
}

.buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.log,
.reg {
  border: 2px solid var(--primary-green);
  padding: 0.5rem 3rem;
  text-align: center;
  border-radius: 5px;
  color: black;
  background-color: #22222200;
  font-weight: 600;
  color: var(--primary-green);
  cursor: pointer;
}

.reg {
  border: 2px solid var(--accent-orange);
  color: var(--accent-orange);
}

.log:hover,
.reg:hover {
  border: 2px solid var(--accent-orange);
  color: var(--accent-orange);
}

h3 {
  color: inherit;
  text-decoration: none;
}
